<%- include partials/navigation.ejs %>

<html>
    <head>
        <title>Event App</title>
       </head>
    <body>
    
    <h3>Welcome to dashboard!!</h3>
    <h4>Click on create event button to create new event</h4>
        
    </body>
</html>