<%- include partials/navbar.ejs %>

<html>
    <head>
            <style>
                    h3{
                        margin: auto;
                        padding: 20px;  
                    }
                </style>
        <title>Event App</title>
       </head>
    <body>
        
    <h3>Work Under progress!!</h3>
        
    </body>
</html>